body{
    background-image: linear-gradient(to bottom,#737A0A ,#AD7331 )

}
header img{
    height: 45px;
    width: 45px;
}
header a{
    text-decoration: none;
    background-image:linear-gradient(to left,#e0f000,#AD7351);
    border-radius:15px;
    padding: 5px;
}
h1{
    color: #F1F6A3;
    text-align: center;

}
main img{
    width: 168px;
    height:126px;
    border-radius: 20px;
    transition: .5s linear;
}
main img:hover{
    transition: .51s linear;
    transform: scale(1.3);
    box-shadow: 0px 0px 20px 0 black;

}
.images{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
   
}
main h3{
    color: #F1F6A3;

}
footer{
    background-image: linear-gradient(to left,#737A0A,#C4CA66 );
    border-radius:15px;
    padding: 3px;
}
